<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/simplecss.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/ajax.js"></script>
</head>
<body>
<div class="nav">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <a href="/admin">后台管理系统</a>
                <a href="" class="btn btn-success" id="add-btn">添加用户</a>
            </div>
            <div class="col-md-2"><a href="/logout">退出系统</a></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" id="table">
                <tr>
                    <th>客户编号</th>
                    <th>姓名</th>
                    <th>邮箱</th>
                    <th>电话</th>
                    <th>QQ</th>
                    <th>操作</th>
                </tr>
                <!--<tr>-->
                    <!--<td>1</td>-->
                    <!--<td>张三</td>-->
                    <!--<td>1@qq.com</td>-->
                    <!--<td>135999888899</td>-->
                    <!--<td>2014868983</td>-->
                    <!--<td>-->
                        <!--<a href="" class="btn btn-primary">修改</a>-->
                        <!--<a href="" class="btn btn-danger">删除</a>-->
                    <!--</td>-->
                <!--</tr>-->
            </table>
        </div>
    </div>
</div>
<!--添加用户panel-->
<div class="panel panel-default" id="adduser">
    <div class="panel-heading">
        <div class="panel-title">添加用户</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">姓名</div>
            <div class="col-md-8"><input type="text" id="username"></div>
        </div>
        <div class="row">
            <div class="col-md-4">邮箱</div>
            <div class="col-md-8"><input type="text" id="email"></div>
        </div>
        <div class="row">
            <div class="col-md-4">电话</div>
            <div class="col-md-8"><input type="text" id="phone"></div>
        </div>
        <div class="row">
            <div class="col-md-4">QQ</div>
            <div class="col-md-8"><input type="text" id="qq"></div>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" id="save-btn">保存</button>
        <button class="btn btn-primary" id="cancel-btn">取消</button>
    </div>
</div>

<!--编辑用户 panel-->
<div class="panel panel-default" id="editUser">
    <div class="panel-heading">
        <div class="panel-title">编辑用户信息</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">姓名</div>
            <div class="col-md-8"><input type="text" id="edit-username"></div>
        </div>
        <div class="row">
            <div class="col-md-4">邮箱</div>
            <div class="col-md-8"><input type="text" id="edit-email"></div>
        </div>
        <div class="row">
            <div class="col-md-4">电话</div>
            <div class="col-md-8"><input type="text" id="edit-phone"></div>
        </div>
        <div class="row">
            <div class="col-md-4">QQ</div>
            <div class="col-md-8">
                <input type="text" id="edit-qq">
                <!--当后台需要使用到这个input的数据，但是又不希望显示出来  用hidden-->
                <input type="hidden" id="edit-id">
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" id="edit-save-btn">保存</button>
        <button class="btn btn-primary" id="edit-cancel-btn">取消</button>
    </div>
</div>

<script>
//当admin.html 这个页面被浏览器加载的时候，马上去发送数据请求到后台让后台返回数据给页面
    //这个页面拿到书生成table
var oTable= document.getElementById("table");
    ajax({
        method:'GET',
        url:'list',
        success:function (result) {
            console.log(result.data);
            if(result.status === 0){
                //result.data 是一个数组  ，每个颜色是一个对象
                //对象中的内容就是每行的内容
                //每个对象需要生成tr 对象中每个属性(id username) 对象一个td
                //批量生成
                for (var i=0;i<result.data.length;i++){
                    //console.log(result.data[i]);
                    var oTr=document.createElement("tr");
                    //打印出每个颜色是obj
                    // console.log(result.data.length);
                    //不能使用for循环
                    // for(var j=0;j<result.data.length;j++){
                    //     console.log(result.data[i][j]);
                    // }
                    //把循环出来的每个对象赋值给obj 变量
                    var obj = result.data[i];
                    //循环每个obj拿到的值 内层循环玩，尿素已经创建好了一行tr
                    for(item in obj){
                        //item 是属性名  id username ---
                        console.log("===>",obj[item]);
                        //每次拿出一个数据值得时候创建一个td  然后把这个值给td
                        var oTd=document.createElement("td")
                        oTd.innerHTML = obj[item];
                        console.log(oTd)
                        //要把td加入到tr中
                        oTr.appendChild(oTd);
                    }
                    //要把创建好的tr添加到table里面去
                    //遇到问题 ；tr里面少了一个td  需要手动生成
                    var op = document.createElement("td");
                    op.innerHTML = '<button  class="btn btn-primary">修改</button>\n' +
                        '                        <button  class="btn btn-danger">删除</button>';
                    oTr.appendChild(op);
                    oTable.appendChild(oTr);
                    console.log(oTr);
                }
            }
        }
    })

//点击添加按钮， 弹出对话框
    var addBtn=document.getElementById("add-btn");
    var addUser=document.getElementById("adduser");
    addBtn.onclick=function () {
        addUser.style.display = "block";
        var left = document.documentElement.clientWidth/2-addUser.offsetWidth/2;
        var top = document.documentElement.clientHeight/2-addUser.offsetHeight/2;
        addUser.style.left=left+ "px";
        addUser.style.top = top + "px";
        return false;
    }

    //需要：点击取消按钮 隐藏对话框  不去发送数据到后台
var cancelBtn = document.getElementById("cancel-btn");
    cancelBtn.onclick=function () {
        addUser.style.display = "none"
    }
    //当点击保存按钮  收集到用户的输入的信息  发生到后台
var saveBtn = document.getElementById("save-btn");
    saveBtn.onclick=f=function () {
        var oUser=document.getElementById("username");
        var oEmail=document.getElementById("email");
        var oPone=document.getElementById("phone");
        var oQq=document.getElementById("qq");
        ajax({
            method:"POST",
            url:"/adduser",
            data:"username="+oUser.value+"&email="+oEmail.value+"&phone="+oPone.value+"&qq="+oQq.value,
            success:function (result) {
                //具体的业务逻辑
               // console.log(result);
                if(result.status===0){
                    //把对话框隐藏弹出消息，重新刷新admin.html 页面
                    addUser.style.display = "none";
                    alert(result.message);
                    window.location.reload();

                }else {
                    alert(result.message)
                }
            }
        })
    }


    //需求：点击修改按钮  弹出对话框
    var editUser=document.getElementById("editUser");
    var editUsername=document.getElementById("edit-username");
    var editEmail=document.getElementById("edit-email");
    var editPhone=document.getElementById("edit-phone");
    var editQq=document.getElementById("edit-qq");
    var editId=document.getElementById("edit-id");
    oTable.onclick=function (ev) {
        //兼容
        var ev=ev || event;
        console.log(ev.target);
        var aTd=ev.target.parentNode.parentNode.children;
        console.log(aTd);
        if(ev.target.innerHTML === "修改"){
            //alert("修改")
            //弹出对话框  显示当前行的数据
            editUser.style.display = "block";
            var left = document.documentElement.clientWidth/2-editUser.offsetWidth/2;
            var top = document.documentElement.clientHeight/2-editUser.offsetHeight/2;
            editUser.style.left=left+ "px";
            editUser.style.top = top + "px";
            //显示当前行的信息
            editUsername.value = aTd[1].innerHTML;
            editEmail.value = aTd[2].innerHTML;
            editPhone.value = aTd[3].innerHTML;
            editQq.value = aTd[4].innerHTML;
            //修复bug
            editId.value = aTd[0].innerHTML;
        }
        if(ev.target.innerHTML === "删除"){
          //  alert("删除")
            ajax({
                method:"post",
                url:"/delete",
                data:"id="+aTd[0].innerHTML,
                success:function (result) {
                    if(result.status === 0){
                        alert(result.message);
                        window.location.reload();
                    }else {
                        alert(result.message);
                    }
                }
            })
        }
    }

    //点击  隐藏对话框
    var editCancelBtn =document.getElementById("edit-cancel-btn");
    editCancelBtn.onclick=function () {
        editUser.style.display = "none";
    }

    //点击保存按钮  发送数据到后台
    var editSaveBtn=document.getElementById("edit-save-btn");
    editSaveBtn.onclick=function () {
        ajax({
            method:"POST",
            url:"/update",
            data:"username="+editUsername.value+"&email="+editEmail.value+"&phone="+editPhone.value+"&qq="+editQq.value+"&id="+editId.value,
            success:function (result) {
               // console.log(result);
                if(result.status===0){
                    editUser.style.display="none";
                    alert(result.message);
                    window.location.reload();
                }else {
                    alert(result.message)
                }
            }
        })
    }
</script>
</body>
</html>